@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #eae8e0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', Helvetica, sans-serif;
}

::-webkit-scrollbar { 
  display: none;
}