@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #eae8e0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', Helvetica, sans-serif;
}

::-webkit-scrollbar { 
  display: none;
}