@import 'tailwindcss';

:root {
  --background: #09090b;
  --foreground: #eae8e0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
